<a href="/users/new" class="px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm">Create new
  User</a>

<ul role="list" class="divide-y divide-gray-100">
  <% data.forEach(function(user) { %>
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <div class="relative">
          <img class="w-10 h-10 rounded" src="<%= user.gravatarUrl %>" alt="">
          <span
            class="absolute top-0 left-8 transform -translate-y-1/2 w-3.5 h-3.5 <%= user.is_online ? 'bg-green-400' : 'bg-red-400' %> border-2 border-white dark:border-gray-800 rounded-full"></span>
        </div>
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">
            <a href="/users/<%= user.user_id %>">
              <%= user.first_name %>
                <%= user.last_name %>
          </p></a>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">
            <%= user.email %>
          </p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">
          <%= user.role %>
        </p>
        <p class="mt-1 text-xs leading-5 text-gray-500">Last online: <time datetime="<%= user.last_login_locale %>">
            <%= user.last_login_locale %>
          </time></p>
      </div>
    </li>
    <% }) %>

</ul>